<body >
    <h1 class="h3 mb-3 font-weight-normal">Tabla de Posiciones</h1>
    <div id="table"> 
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Partido</th>
            <th scope="col">Team One</th>
            <th scope="col">Team Two</th>
            <th scope="col">Goles Team One</th>
            <th scope="col">Goles Team Two</th>
            <th scope="col">Puntos Team One</th>
            <th scope="col">Puntos Team Two</th>
          </tr>
          <tr>
            <th scope="col">No.1</th>
            <th scope="col">Gram Final</th>
            <th scope="col">G2</th>
            <th scope="col">Team Liquid</th>
            <th scope="col">2</th>
            <th scope="col">1</th>
            <th scope="col">3</th>
            <th scope="col">0</th>
          </tr>
          <tr>
            <th scope="col">No.2</th>
            <th scope="col"></th>
            <th scope="col">FANATIC</th>
            <th scope="col">G2</th>
            <th scope="col">2</th>
            <th scope="col">1</th>
            <th scope="col">3</th>
            <th scope="col">0</th>
          </tr>
          <tr>
            <th scope="col">No.3</th>
            <th scope="col"></th>
            <th scope="col">qq</th>
            <th scope="col">qq</th>
            <th scope="col">2</th>
            <th scope="col">1</th>
            <th scope="col">3</th>
            <th scope="col">0</th>
          </tr>
          <tr>
            <th scope="col">No.4</th>
            <th scope="col"></th>
            <th scope="col">ff</th>
            <th scope="col">ee</th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">0</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary ">Regresar</button>    
    </div>
</body>