body{
    width: 100%;
    padding: 5px;
    background-color:black;
}
  


div#card {
    margin-top: 20px;
    padding: 5px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}