
h1{
    text-align: center;
    font-size: 2.5em;
    color: white;
    height: 60px;
    background-color:black;
}


#cards{
    margin: 1rem;
    
}

.myWidth {
    margin: 1.25rem;
    display: inline-block;
    background-color: white;
    color: black;
}

img{
 margin: 10px;
  width: 170px;
  height: 160px;
  border-radius: 80px;
}